In [12]:
# Import libraries
import pandas as pd
import numpy as np

# 1. Read in the store_income_data_task.csv file
df = pd.read_csv('store_income_data_task.csv')

In [13]:
# 2. Display the first five observations.
df.head()

,id,store_name,store_email,department,income,date_measured,country
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,4-2-2006,United States/
1,2,Nordson Corporation,NaN,Tools,$41744177.01,4-1-2006,Britain
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,12-9-2003,United States
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,8-5-2006,Britain/
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,21-1-1973,United Kingdom

In [14]:
# 3. Get the number of missing values per column and print the results
missing_values = df.isnull().sum()

# Print the results
print(missing_values)

id                 0
store_name         0
store_email      587
department        27
income             0
date_measured      0
country           35
dtype: int64

Write a note on why you think we have missing data on the following three columns: store_email, department, and country.

Remember to classify them according to the three categories of missingness we have considered.

After analyzing the missing data in the store_email, department, and country columns, here's what I found:

store_email

- I believe the missing data in the store_email column falls under the category of Missing Completely at Random (MCAR).
- The reason for this assumption is that email addresses might not be available for all stores, and the absence of an email address does not necessarily correlate with any other variable in the dataset.

department

- The missing data in the department column could be classified as Missing at Random (MAR).
- It's possible that certain departments might not be relevant or applicable to all stores, leading to missing values.
- Also, the missingness might be related to other variables in the dataset, such as store type or location.

country

- I think the missing data in the country column falls under the category of Missing Not at Random (MNAR).
- The reason for this assumption is that missing country information might be related to specific store characteristics or locations that are not captured in the dataset.
- For example, stores from certain countries might be less likely to report their country information due to various reasons such as regulatory or privacy concerns.

These classifications are based on initial observations and might require further investigation to confirm the underlying reasons for the missing data.